.TaskList .TaskListHeading {
  display: inline-flex;
  margin-bottom: 1em;
}
.TaskList .TaskListHeading button {
  margin: 1em 0 0 1em;
}
.TaskList table span.label {
  font-size: 90%;
}
.TaskList th{
  cursor: pointer;
}
.TaskList th.desc:after{
  content: ' \25B2';
}
.TaskList th.asc:after{
  content: ' \25BC';
}
@keyframes blink {
  0% { background-color: #fffbbc;}
  100% { background-color: white;}
}
@-webkit-keyframes blink {
  0% { background-color: #fffbbc;}
  100% { background-color: white;}
}
.TaskList tbody tr.Blink{
  -webkit-animation: blink 2s linear 1;
  -moz-animation: blink 2s linear 1;
  animation: blink 2s linear 1;
}
