<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Trial App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%- if user_signed_in? %>
        <span class="navbar-text">
          <%= "Logged in as '#{current_user.email}' | "%>
        </span>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link', method: :delete %>
        </li>
      <%- else %>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
      <%- end %>
    </ul>
  </div>
</nav>
