<!DOCTYPE html>
<html>
  <head>
    <title>Trial app</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'tasks-bundle' %>
    <%= stylesheet_pack_tag 'tasks-bundle' %>
  </head>

  <body>
    <%= render('home/navbar') %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
